.ant-tree-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-tree .ant-tree-switcher-icon {
    font-size: 18px !important;
}

.ant-descriptions-item-label {
  width: 100px;
}