.ant-tree-indent-unit {
  width: 10px !important;
}

.ant-tree-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-tree .ant-tree-treenode {
  padding: 0px 0px !important;
}

.my-tree .ant-tree-switcher-icon {
  font-size: 14px !important;
}

.ant-descriptions-item-label {
  width: 40% !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}