.ant-tree-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-tree .ant-tree-switcher-icon {
    font-size: 18px !important;
}

.ant-descriptions-item-label {
  width: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}